.mask-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mask-gif {
  width: 632px; /* Adjust as needed */
  height: 356px; /* Adjust as needed */
}